---
import { cn } from "@/lib/utils";
import Base from "@/layouts/Base.astro";
import RandomId from "@/components/random-id.astro";
import { SparklesText } from "@/components/ui/sparkles-text";
import { AnimatedGridPattern } from "@/components/ui/animated-grid-background";
---

<Base title="sharath.uk">
  <div class="flex min-h-screen w-full flex-col items-center justify-center bg-dot-black/20 dark:bg-dot-white/20">
    <div
      class="pointer-events-none absolute inset-0 flex items-center justify-center bg-background [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"
    >
    </div>
    <div
      class="relative flex size-full max-w-lg items-center justify-center overflow-hidden rounded-lg border bg-background p-20 md:shadow-xl"
    >
      <div class="z-10 flex flex-col items-center text-center">
        <SparklesText client:load text="sc4r.net" sparklesCount={5} />
        <span class="font-bold text-muted-foreground">Coming soon</span>
        <span class="mt-2 text-sm text-muted-foreground">
          <RandomId server:defer>
            <div slot="fallback">loading</div>
          </RandomId>
        </span>
      </div>
      <AnimatedGridPattern
        client:idle
        duration={3}
        numSquares={30}
        maxOpacity={0.5}
        className={cn(
          "[mask-image:radial-gradient(300px_circle_at_center,white,transparent)]",
          "inset-x-0 inset-y-[-30%] h-[200%] skew-y-12",
        )}
      />
    </div>
  </div>
</Base>
