---
import "@/styles/globals.css";
import { cn } from "@/lib/utils";
import Layout from "@/layouts/Layout.astro";
import RandomId from "@/components/random-id.astro";
import { SparklesText } from "@/components/ui/sparkles-text";
import { AnimatedGridPattern } from "@/components/ui/animated-grid-background";
---

<Layout title="sharath.uk">
  <div
    class="relative flex size-full max-w-lg items-center justify-center overflow-hidden rounded-lg border bg-background p-20 md:shadow-xl"
  >
    <div class="z-10 flex flex-col items-center text-center">
      <SparklesText client:load text="sharath.uk" sparklesCount={5} />
      <span class="font-bold text-muted-foreground">Coming soon</span>
      <span class="mt-2 text-sm text-muted-foreground">
        <RandomId server:defer>
          <div slot="fallback">loading</div>
        </RandomId>
      </span>
    </div>
    <AnimatedGridPattern
      client:load
      duration={3}
      numSquares={30}
      maxOpacity={0.5}
      className={cn(
        "[mask-image:radial-gradient(300px_circle_at_center,white,transparent)]",
        "inset-x-0 inset-y-[-30%] h-[200%] skew-y-12",
      )}
    />
  </div>
</Layout>
