@import '@unocss/reset/tailwind.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply border-border;
}

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;

  @apply bg-background text-foreground;
  transition: background-color 300ms;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
