@import '@unocss/reset/tailwind.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply border-border;
}

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;

  @apply bg-background text-foreground;
  transition: background-color 300ms;
}
