---
import { Toaster } from "@/components/ui/sonner";
import { ClientRouter } from "astro:transitions";
import { Navigation } from "@/components/navigation";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="sharath.uk" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col items-center justify-center bg-dot-black/20 dark:bg-dot-white/20">
    <div
      class="pointer-events-none absolute inset-0 flex items-center justify-center bg-background [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"
    >
    </div>
    <slot />
    <Navigation client:only="react" transition:persist="navigation" />
    <Toaster client:only="react" transition:persist="toaster" />
  </body>
</html>

<script is:inline data-astro-rerun>
  if (localStorage.getItem("theme") === "dark") document.documentElement.classList.add("dark");
  else document.documentElement.classList.remove("dark");
</script>
